In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Port Elizabeth,ZA,2022-02-06 00:12:24,-33.9180,25.5701,69.10,84,46,18.70
1,1,Andra,RU,2022-02-06 00:12:25,62.5147,65.8878,5.00,96,87,4.99
2,2,Pilar,BR,2022-02-06 00:12:26,-9.5972,-35.9567,75.63,70,99,5.35
3,3,Sorong,ID,2022-02-06 00:12:27,-0.8833,131.2500,81.79,79,100,11.34
4,4,Khatanga,RU,2022-02-06 00:12:28,71.9667,102.5000,-20.45,98,99,3.78

In [12]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [13]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

# Heatmap of temperature

In [16]:
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0)for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Heatmap of  Humidity

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Heatmap of Cloudiness

In [20]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
Cloud = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=Cloud, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Heatmap of Wind Speed

In [24]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
Wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights= Wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [26]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Pilar,BR,2022-02-06 00:12:26,-9.5972,-35.9567,75.63,70,99,5.35
3,3,Sorong,ID,2022-02-06 00:12:27,-0.8833,131.2500,81.79,79,100,11.34
5,5,Atuona,PF,2022-02-06 00:12:29,-9.8000,-139.0333,78.33,79,11,21.99
8,8,Vaini,TO,2022-02-06 00:12:31,-21.2000,-175.2000,78.08,88,100,25.12
11,11,Avarua,CK,2022-02-06 00:12:34,-21.2078,-159.7750,82.45,78,75,17.27
19,19,Lahaina,US,2022-02-06 00:12:40,20.8783,-156.6825,84.20,81,7,6.15
22,22,Coahuayana,MX,2022-02-06 00:12:42,18.7333,-103.6833,85.48,59,6,4.38
33,33,Hithadhoo,MV,2022-02-06 00:09:24,-0.6000,73.0833,81.59,72,36,6.73
34,34,Bambous Virieux,MU,2022-02-06 00:12:52,-20.3428,57.7575,79.21,81,96,17.34
36,36,Rikitea,PF,2022-02-06 00:09:59,-23.1203,-134.9692,79.45,71,71,12.24

In [27]:
preferred_cities_df.count()

City_ID       129
City          129
Country       128
Date          129
Lat           129
Lng           129
Max Temp      129
Humidity      129
Cloudiness    129
Wind Speed    129
dtype: int64

In [28]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
2             Pilar      BR     75.63  -9.5972  -35.9567
3            Sorong      ID     81.79  -0.8833  131.2500
5            Atuona      PF     78.33  -9.8000 -139.0333
8             Vaini      TO     78.08 -21.2000 -175.2000
11           Avarua      CK     82.45 -21.2078 -159.7750
19          Lahaina      US     84.20  20.8783 -156.6825
22       Coahuayana      MX     85.48  18.7333 -103.6833
33        Hithadhoo      MV     81.59  -0.6000   73.0833
34  Bambous Virieux      MU     79.21 -20.3428   57.7575
36          Rikitea      PF     79.45 -23.1203 -134.9692

In [30]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "HotelName"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [33]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name,HotelName
2,Pilar,BR,75.63,-9.5972,-35.9567,,Pousada e churrascaria Manguaba
3,Sorong,ID,81.79,-0.8833,131.2500,,Waigo Splash Hotel
5,Atuona,PF,78.33,-9.8000,-139.0333,,Villa Enata
8,Vaini,TO,78.08,-21.2000,-175.2000,,Keleti Beach Resort
11,Avarua,CK,82.45,-21.2078,-159.7750,,Paradise Inn
19,Lahaina,US,84.20,20.8783,-156.6825,,Lahaina Shores Beach Resort
22,Coahuayana,MX,85.48,18.7333,-103.6833,,El rranchito michuacan de ocampos
33,Hithadhoo,MV,81.59,-0.6000,73.0833,,Scoop Guest House
34,Bambous Virieux,MU,79.21,-20.3428,57.7575,,Casa Tia Villa
36,Rikitea,PF,79.45,-23.1203,-134.9692,,People ThankYou

In [34]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [37]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))